# ----  ClickOnce / VSTO  ---------------------------------
*.manifest     binary     # *.exe.manifest, *.dll.manifest, etc.
*.application  binary     # the root ClickOnce application manifest
*.vsto         binary     # VSTO deployment manifest
*.deploy       binary     # any files that ClickOnce renames *.deploy